<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
    <defaultcontrol always="true">9100</defaultcontrol>
    
    <controls>
        <include>GlobalBackground</include>
        <include>Furniture_Header</include>
        <include>Furniture_Clock</include>
        <include>Furniture_NowPlaying</include>
        <include>Furniture_Weather</include>
        <control type="group">
            <left>SidePad</left>
            <width>1760</width>
            <top>PosterPad</top>
            <height>652</height>
            <include>Animation.Common</include>
            <control type="image">
                <left>-8</left>
                <right>-8</right>
                <top>-8</top>
                <bottom>-8</bottom>
                <texture border="16" colordiffuse="Panel">common/rounded-shadow8.png</texture>
            </control>
            <control type="group">
                <top>10</top>
                <bottom>10</bottom>
                <right>10</right>
                <left>1160</left>
                <control type="textbox">
                    <top>30</top>
                    <bottom>30</bottom>
                    <right>30</right>
                    <left>30</left>
                    <align>left</align>
                    <font>Tiny</font>
                    <textcolor>PanelWhite100</textcolor>
                    <label>$INFO[Container(9100).ListItem.Label2]</label>
                </control>
            </control>
            <control type="group" description="lines">
                <control type="image">
                    <left>575</left>
                    <width>1</width>
                    <top>11</top>
                    <bottom>11</bottom>
                    <texture colordiffuse="Black12">common/white.png</texture>
                </control>
                <control type="image">
                    <left>1150</left>
                    <top>11</top>
                    <bottom>11</bottom>
                    <width>1</width>
                    <texture colordiffuse="Black12">common/white.png</texture>
                </control>
                <!--<control type="image">
                    <left>10</left>
                    <top>10</top>
                    <right>10</right>
                    <height>1</height>
                    <texture colordiffuse="Black12">common/white.png</texture>
                </control>
                <control type="image">
                    <left>10</left>
                    <bottom>10</bottom>
                    <right>10</right>
                    <height>1</height>
                    <texture colordiffuse="Black12">common/white.png</texture>
                </control>-->
               
            </control>
            <control type="Panel" id="9100">
                <left>0</left>
                <width>1150</width>
                <top>10</top>
                <height>642</height>
                <orientation>horizontal</orientation>
                <itemlayout width="575" height="107">
                    <!--<control type="image">
                        <left>0</left>
                        <top>0</top>
                        <right>10</right>
                        <bottom>10</bottom>
                        <texture border="5" colordiffuse="PanelWhite12">common/box.png</texture>
                    </control>-->
                    <control type="label">
                        <top>0</top>
                        <height>97</height>
                        <aligny>center</aligny>
                        <right>30</right>
                        <left>130</left>
                        <align>left</align>
                        <font>SmallBold</font>
                        <textcolor>PanelWhite100</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="image">
                        <left>10</left>
                        <width>96</width>
                        <height>96</height>
                        <texture colordiffuse="PanelWhite100">$INFO[ListItem.Icon]</texture>
                    </control>
                
                </itemlayout>
                <focusedlayout width="575" height="107">
                    <control type="image">
                        <left>0</left>
                        <top>0</top>
                        <right>0</right>
                        <bottom>10</bottom>
                        <texture border="5" colordiffuse="$VAR[ColorHighlight]">common/white.png</texture>
                    </control>
                    <control type="label">
                        <top>0</top>
                        <height>97</height>
                        <aligny>center</aligny>
                        <right>30</right>
                        <left>130</left>
                        <align>left</align>
                        <font>SmallBold</font>
                        <textcolor>Selected</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="image">
                        <left>10</left>
                        <width>96</width>
                        <height>96</height>
                        <texture colordiffuse="Selected">$INFO[ListItem.Icon]</texture>
                    </control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <label>480</label>
                        <label2>31156</label2>
                        <icon>special://skin/extras/icons/eye.png</icon>
                        <onclick>activatewindow(AppearanceSettings)</onclick>
                    </item>
                    
                    <item id="2">
                        <label>3</label>
                        <label2>31157</label2>
                        <icon>special://skin/extras/icons/film.png</icon>
                        <onclick>activatewindow(VideosSettings)</onclick>
                    </item>
                    <item id="3">
                        <label>2</label>
                        <label2>31158</label2>
                        <icon>special://skin/extras/icons/songs.png</icon>
                        <onclick>activatewindow(MusicSettings)</onclick>
                    </item>
                    
                    
                    <item id="5">
                        <label>1</label>
                        <label2>31159</label2>
                        <icon>special://skin/extras/icons/pictures.png</icon>
                        <onclick>activatewindow(PicturesSettings)</onclick>
                    </item>
                    <item id="6">
                        <label>8</label>
                        <label2>31160</label2>
                        <icon>special://skin/extras/icons/sun.png</icon>
                        <onclick>activatewindow(WeatherSettings)</onclick>
                    </item>
                    
                    <item id="12">
                        <label>20077</label>
                        <label2>31166</label2>
                        <icon>special://skin/extras/icons/year.png</icon>
                        <onclick>activatewindow(SkinSettings)</onclick>
                    </item>
                    <item id="8">
                        <label>13000</label>
                        <label2>31161</label2>
                        <icon>special://skin/extras/icons/configure.png</icon>
                        <onclick>activatewindow(SystemSettings)</onclick>
                    </item>
                    <item id="7">
                        <label>705</label>
                        <label2>31164</label2>
                        <icon>special://skin/extras/icons/network.png</icon>
                        <onclick>activatewindow(NetworkSettings)</onclick>
                    </item>
                    
                    <item id="9">
                        <label>13200</label>
                        <label2>31165</label2>
                        <icon>special://skin/extras/icons/actor.png</icon>
                        <onclick>activatewindow(Profiles)</onclick>
                    </item>
                    <item id="4">
                        <label>24001</label>
                        <label2>31162</label2>
                        <icon>special://skin/extras/icons/addons.png</icon>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                    </item>
                    
                    <item id="10">
                        <label>130</label>
                        <label2>31167</label2>
                        <icon>special://skin/extras/icons/sysinfo.png</icon>
                        <onclick>activatewindow(7)</onclick>
                    </item>
                    <item id="11">
                        <label>19191</label>
                        <label2>31163</label2>
                        <icon>special://skin/extras/icons/livetv.png</icon>
                        <onclick>activatewindow(pvrsettings)</onclick>
                    </item>
                    
                    
                </content>
            </control>
            
        </control>
    </controls>

</window>
