<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
    <defaultcontrol always="true">9100</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <controls>
        <include>GlobalBackground</include>
        <include>Furniture_Header</include>
        <include>Furniture_Clock</include>
        <control type="Panel" id="9100">
            <include>Animation.Common</include>
            <left>SidePad</left>
            <width>1770</width>
            <top>PosterPad</top>
            <height>650</height>
            <orientation>vertical</orientation>
            <itemlayout width="295" height="325">
                <control type="image">
                    <width>285</width>
                    <height>315</height>
                    <texture border="5" colordiffuse="Panel">common/box.png</texture>
                </control>
                <control type="label">
                    <bottom>10</bottom>
                    <width>255</width>
                    <align>center</align>
                    <centerleft>142</centerleft>
                    <font>Small</font>
                    <textcolor>White100</textcolor>
                    <label>$INFO[ListItem.Label]</label>
                </control>
                <control type="image">
                    <centerleft>142</centerleft>
                    <centertop>142</centertop>
                    <width>192</width>
                    <height>192</height>
                    <texture colordiffuse="White100">$INFO[ListItem.Icon]</texture>
                </control>
            
            </itemlayout>
            <focusedlayout width="295" height="325">
                <control type="image">
                    <width>285</width>
                    <height>315</height>
                    <texture border="5" colordiffuse="Highlight">common/box.png</texture>
                </control>
                <control type="label">
                    <bottom>10</bottom>
                    <width>255</width>
                    <align>center</align>
                    <centerleft>142</centerleft>
                    <font>Small</font>
                    <textcolor>White100</textcolor>
                    <label>$INFO[ListItem.Label]</label>
                </control>
                <control type="image">
                    <centerleft>142</centerleft>
                    <centertop>142</centertop>
                    <width>192</width>
                    <height>192</height>
                    <texture colordiffuse="White100">$INFO[ListItem.Icon]</texture>
                </control>
            </focusedlayout>
            <content>
                <item id="1">
                    <label>480</label>
                    <icon>special://skin/extras/icons/eye.png</icon>
                    <onclick>activatewindow(AppearanceSettings)</onclick>
                </item>
                <item id="2">
                    <label>3</label>
                    <icon>special://skin/extras/icons/film.png</icon>
                    <onclick>activatewindow(VideosSettings)</onclick>
                </item>
                <item id="3">
                    <label>2</label>
                    <icon>special://skin/extras/icons/songs.png</icon>
                    <onclick>activatewindow(MusicSettings)</onclick>
                </item>
                <item id="4">
                    <label>24001</label>
                    <icon>special://skin/extras/icons/addons.png</icon>
                    <onclick>activatewindow(AddonBrowser)</onclick>
                </item>
                <item id="5">
                    <label>1</label>
                    <icon>special://skin/extras/icons/pictures.png</icon>
                    <onclick>activatewindow(PicturesSettings)</onclick>
                </item>
                <item id="6">
                    <label>8</label>
                    <icon>special://skin/extras/icons/sun.png</icon>
                    <onclick>activatewindow(WeatherSettings)</onclick>
                </item>
                <item id="7">
                    <label>705</label>
                    <icon>special://skin/extras/icons/network.png</icon>
                    <onclick>activatewindow(NetworkSettings)</onclick>
                </item>
                <item id="8">
                    <label>13000</label>
                    <icon>special://skin/extras/icons/configure.png</icon>
                    <onclick>activatewindow(SystemSettings)</onclick>
                </item>
                <item id="9">
                    <label>13200</label>
                    <icon>special://skin/extras/icons/actor.png</icon>
                    <onclick>activatewindow(Profiles)</onclick>
                </item>
                <item id="10">
                    <label>130</label>
                    <icon>special://skin/extras/icons/sysinfo.png</icon>
                    <onclick>activatewindow(7)</onclick>
                </item>
                <item id="11">
                    <label>19191</label>
                    <icon>special://skin/extras/icons/livetv.png</icon>
                    <onclick>activatewindow(pvrsettings)</onclick>
                </item>
                <item id="12">
                    <label>20077</label>
                    <icon>special://skin/extras/icons/year.png</icon>
                    <onclick>activatewindow(SkinSettings)</onclick>
                </item>
            </content>
        </control>
        
    </controls>

</window>
